nodered.json
[{"id":"8329e0fc.5b1948","type":"inject","z":"bcdcb58d.0a0178","name":"lampSwitch Down","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"55 05 * * *","once":false,"onceDelay":0.1,"x":704.5,"y":488,"wires":[["307265ec.675dba","47e9710c.12f8d8"]]},{"id":"307265ec.675dba","type":"grove digital output","z":"bcdcb58d.0a0178","name":"Light Switch","board":"d40d3e22.9b625","pin":"2","x":957.5,"y":487,"wires":[]},{"id":"a6303917.a596","type":"inject","z":"bcdcb58d.0a0178","name":"LampSwitch UP","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"01 06 * * *","once":false,"onceDelay":0.1,"x":702.5,"y":538,"wires":[["307265ec.675dba","66ebc8a8.70c43"]]},{"id":"66ebc8a8.70c43","type":"ui_gauge","z":"bcdcb58d.0a0178","name":"Lights","group":"66495f0.7d992a","order":6,"width":0,"height":0,"gtype":"donut","title":"Lights","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1202.5,"y":528,"wires":[]},{"id":"47e9710c.12f8d8","type":"ui_gauge","z":"bcdcb58d.0a0178","name":"","group":"66495f0.7d992a","order":5,"width":0,"height":0,"gtype":"donut","title":"Lights Off","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1211.5,"y":596,"wires":[]},{"id":"d40d3e22.9b625","type":"board-config","z":"","board":"GrovePi"},{"id":"66495f0.7d992a","type":"ui_group","z":"","name":"Lights ","tab":"713a8866.940d1","disp":true,"width":"3","collapse":false},{"id":"713a8866.940d1","type":"ui_tab","z":"","name":"Light&Heating","icon":"Light","disabled":false,"hidden":false}]


